* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #487346;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='145' height='145' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%234c8e43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236aac5f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%234c8e43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236aac5f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23768c3a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2396ac58' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2396ac58' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23768c3a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23768c3a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2396ac58' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
  width: 100vw;
  max-height: 100vh;
  position: relative;
}

main {
  max-width: 800px;
  margin: 10px auto;
  border: 4px solid black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sheep_viewer__background {
  width: 100%;
  height: 100%;
}

.sheep_viewer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sheep_viwer--sheepIMG {
  width: 400px;
  height: 200px;
  align-self: center;
  position: absolute;
  bottom: 0px;
}

.sheep_viewer__animate {
  animation-duration: 2s;
  animation-name: move;
}

@keyframes move {
  0% {
    transform: translate(0%) translateY(30%);
    -webkit-transform: translate(0%) translateY(30%);
    -moz-transform: translate(0%) translateY(30%);
    -ms-transform: translate(0%) translateY(30%);
    -o-transform: translate(0%) translateY(30%);
  }
  40% {
    transform: translate(150%) translateY(10%);
    -webkit-transform: translate(150%) translateY(10%);
    -moz-transform: translate(150%) translateY(10%);
    -ms-transform: translate(150%) translateY(10%);
    -o-transform: translate(150%) translateY(10%);
  }
  80% {
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
  }
  100% {
    transform: translate(0%);
    -webkit-transform: translate(0%);
    -moz-transform: translate(0%);
    -ms-transform: translate(0%);
    -o-transform: translate(0%);
  }
}

.row-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.keyboard--key {
  background-color: #d3d3d3;
  border: 2px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.keyboard {
  width: 100%;
}

.keyboard > div {
  cursor: pointer;
}

.keyboard--submit {
  background-color: #d3d3d3;
  width: 100%;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
}

.keyboard--lastRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Create 4 equal columns */
}

.keyboard--submit {
  grid-column: span 3; /* Span 3 columns */
}

.d-none{
    display: none;
}

.animate_sheep_say_no{
    width: 300px;
    height: 300px;
    position: absolute;
    display: block;
    animation-duration: 4s;
    animation-name: highlightWrong;
    animation-fill-mode: forwards;
}

@keyframes highlightWrong {
    from{
        top: -150px;
        left: 50%;
        opacity: 1;
    }
    to{
        top: 0px;
        opacity: .5;
        left: 50%;

    }
}